<%- include('partials/head'); %>
<body>
    <h1>Modulo Usuarios</h1>
    <form action="/" method="post">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        <label for="ciudad">Ciudad: </label>
        <input type="text" name="ciudad" id="ciudad">
        <br>
        <br>
        <button type="submit">Enviar Formulario</button>
    </form>
</body>
</html>